@use '~@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/spacing.scss';
@use '../../../scss/utility/component-palettes.scss';

.full-bleed-grid {
  display: grid;
  background: var(--kd-color-background-ui-default);
  color: var(--kd-color-text-primary);
  .full-bleed-internal-container {
    .title-color {
      color: var(--kd-color-background-accent-primary);
    }
    .second-title {
      h2 {
        color: transparent;
        -webkit-text-stroke: 2px var(--kd-color-background-accent-primary);
        margin: var(--kd-spacing-04);
      }

      div {
        color: transparent;
        -webkit-text-stroke: 2px var(--kd-color-background-accent-primary);
      }
    }
  }
}

.kd-stats-carousel-slide-stat-container {
  align-items: flex-start;
  color: var(--kd-color-background-accent-primary);
  display: flex;

  @media (min-width: breakpoints.$bp-lg) {
    padding-right: var(--kd-spacing-48);
  }

  &.is-center {
    align-items: center;
  }

  &.is-subscript {
    align-items: flex-end;
  }
}

.kd-stats-carousel-slide-stat {
  display: inline-flex;
}

.kd-stats-carousel-slide-symbol {
  display: inline-flex;
}

@media (min-width: breakpoints.$bp-sm) {
  .full-bleed-grid {
    padding-left: var(--kd-spacing-32);
    padding-right: var(--kd-spacing-32);
  }
}
@media (min-width: breakpoints.$bp-md) {
  .full-bleed-grid {
    grid-template-columns: 1fr;
    padding-left: var(--kd-spacing-192);
    padding-right: var(--kd-spacing-192);
  }
}

@media (min-width: breakpoints.$bp-lg) {
  .full-bleed-grid {
    padding: var(--kd-spacing-2);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .full-bleed-internal-container {
    padding: var(--kd-spacing-32);
  }
}
