@use '~@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/spacing.scss';

.container {
  .title {
    h1 {
      font-weight: 600;
      color: transparent;
      -webkit-text-stroke: 1px var(--kd-color-background-accent-secondary);
      margin-bottom: var(--kd-spacing-0);
    }

    .title-color {
      color: var(--kd-color-background-accent-secondary);
    }
  }
}

.full-bleed-grid {
  display: grid;
}

@media (min-width: breakpoints.$bp-sm) {
  .container {
    padding-left: var(--kd-spacing-02);
    padding-right: var(--kd-spacing-02);
  }
}

@media (min-width: breakpoints.$bp-md) {
  .full-bleed-grid {
    grid-template-columns: 1fr;
  }
  .container {
    padding-left: var(--kd-spacing-24);
    padding-right: var(--kd-spacing-24);
  }

  .full-bleed-internal-container {
    margin-top: var(--kd-spacing-48);
  }
}

@media (min-width: breakpoints.$bp-lg) {
  .full-bleed-grid {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    padding-left: var(--kd-spacing-24);
    padding-right: var(--kd-spacing-24);
  }
}

@media (min-width: breakpoints.$bp-max) {
  .full-bleed-grid {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    padding-left: var(--kd-spacing-24);
    padding-right: var(--kd-spacing-24);
  }
}
