@use 'sass:map';

@use '~@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/grid.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/spacing.scss';

.container {
  .title {
    margin-bottom: var(--kd-spacing-80);
    margin-left: var(--kd-spacing-24);
  }
}

.full-bleed-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: breakpoints.$bp-lg) {
  .full-bleed-internal-container {
    padding-left: var(--kd-spacing-40);
  }
}
