@use '../../../scss/utility/component-palettes.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/grid.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/typography.scss';

.kd-stats-carousel {
	background: var(--kd-color-background-ui-default);
	color: var(--kd-color-text-primary);
}

.kd-stats-carousel-container {
	padding: var(--kd-spacing-80) 0;
	width: 100%;

	@media (min-width: breakpoints.$bp-md) {
		padding: var(--kd-spacing-120) 0;
	}
}

.kd-stats-carousel-col {
	@media (min-width: breakpoints.$bp-md) {
		grid-column-start: 2;
	}
}

.kd-stats-carousel-title {
	margin: 0 0 var(--kd-spacing-48);
}

.kd-stats-carousel-slides {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}

.kd-stats-carousel-pagination {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	row-gap: var(--kd-spacing-8);
}

.kd-stats-carousel-pagination-item {
	background: var(--kd-color-background-accent-primary);
	border-radius: 50%;
	display: block;
	height: var(--kd-spacing-4);
	outline: var(--kd-spacing-2) solid transparent;
	transition: all 0.2s ease-in-out;
	width: var(--kd-spacing-4);

	&.is-active {
		background: transparent;
		outline-color: var(--kd-color-background-accent-primary);
	}
}
