@use '../../../scss/utility/component-palettes.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/reset.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/grid.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/spacing.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/visibility.scss';

.kd-intro-primary {
	background: var(--kd-color-background-ui-default);
	color: var(--kd-color-text-primary);
}

.title-color-spruce {
	color: var(--kd-color-text-tertiary);
}

.kd-intro-primary--grid {
	row-gap: var(--kd-spacing-48);
}

.kd-intro-primary--text {
	@media (min-width: breakpoints.$bp-lg) {
		grid-column-start: 7;
	}
}
