@use '../../../scss/utility/component-palettes.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/reset.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/grid.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/spacing.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/typography.scss';

.kd-intro-primary {
	background: var(--kd-color-background-ui-default);
	color: var(--kd-color-text-primary);
}

.title-color-spruce {
	color: var(--kd-color-text-tertiary);
}

.kd-intro-primary--grid {
	row-gap: var(--kd-spacing-48);
}

.kd-intro-primary--text {
	@media (min-width: breakpoints.$bp-lg) {
		grid-column-start: 7;
	}
}

// TODO replace these with utility classes from foundation once they are added.
.kd-intro-primary--cta-desktop {
	display: none;

	@media (min-width: breakpoints.$bp-lg) {
		display: block;
	}
}

.kd-intro-primary--cta-mobile {
	display: block;

	@media (min-width: breakpoints.$bp-lg) {
		display: none;
	}
}
