:root {
  /* Text colors */
  --kd-color-text-primary: var(--kd-color-darkstone-80);

  /* Accent colors */
  --kd-color-background-accent-primary: var(--kd-color-warmred-50);
  --kd-color-background-accent-secondary: var(--kd-color-spruce-60);
  --kd-color-background-accent-tertiary: var(--kd-color-darkstone-10);

  /* Background colors */
  --kd-color-background-ui-default: var(--kd-color-neutral-white);

  --kd-color-background-primary: var(--kd-color-darkstone-80);
  --kd-color-background-primary-hover: var(--kd-color-darkstone-60);
  --kd-color-background-primary-hover-subtle: var(--kd-color-darkstone-10);
  --kd-color-background-primary-pressed: var(--kd-color-darkstone-100);
  --kd-color-background-secondary: var(--kd-color-neutral-white);
  --kd-color-background-tertiary: var(--kd-color-spruce-60);
  --kd-color-background-inverse: var(--kd-color-neutral-white);
  --kd-color-border-focus: var(--kd-color-spruce-60);
}
