:root {
  /* Text colors */
  --kd-color-text-primary: var(--kd-color-darkstone-80);

  /* Accent colors */
  --kd-color-background-accent-primary: var(--kd-color-warmred-50);
  --kd-color-background-accent-secondary: var(--kd-color-spruce-60);
  --kd-color-background-accent-tertiary: var(--kd-color-darkstone-10);

  /* Background colors */
  --kd-color-background-ui-default: var(--kd-color-neutral-white);
}
