@use '~@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.container {
  margin-top: 1rem;
  .text-container {
    color: var(--kd-color-text-primary);

    .country {
      font-weight: var(--kd-font-weight-medium);
    }
    // .timezone {
    //   @include typography.type-body-02;
    // }
  }

  .button {
    @include typography.type-body-01;
    padding: 10px 16px;
    background-color: var(--kd-color-transparent);
    color: var(--kd-color-text-primary);
    border: 2px solid var(--kd-color-background-accent-secondary);
    border-radius: 6px;
  }
}

@media (min-width: breakpoints.$bp-sm) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: breakpoints.$bp-md) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .text-container {
    display: flex;

    align-items: center;
    text-align: center;
    flex-direction: row;
  }
  .country,
  .timezone,
  .register-button {
    width: auto;
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 768px) {
}

@media (min-width: breakpoints.$bp-lg) {
  .container {
    flex-direction: row;

    .text-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      padding: 0 1rem;
      max-width: 500px;

      .country,
      .timezone,
      .register-button {
        width: auto;
        margin-left: 1rem;
      }
    }

    .button {
      margin-top: 0;
    }
  }
}
